@media screen and (min-width: 993px) {
  .search {
    form {
      margin-top: 20px;
      width: 195px;
      input {
        padding: 9px 17px;
      }
      button {
        padding: 6px 25px;
      }
    }
  }
  .Location {
    p {
      font-size: 25px;
    }
  }
  .temp {
    margin: 45px 0vw 0vw 0vw;
    h1 {
      font-size: 115px;
      sup {
        font-size: 40px;
        padding-left: 3%;
        letter-spacing: 3px;
      }
    }
  }
  .img {
    margin-top: 5px;
    img {
      width: 120px;
    }
  }
  .description {
    margin-top: 10px;
  }
  .Bottom {
    margin-top: 33px;
    width: 715px;
    height: 105px;
  }
  p {
    font-size: 18px;
  }
  .wind_pressure {
    display: block;
  }
}
