@media screen and (min-width: 320px) {
  .search {
    form {
      margin-top: 13.5vw;
      width: 68.5vw;
      input {
        padding: 3.5vw 8.5vw;
        border-radius: 6vw;
      }
      button {
        border-radius: 6vw;
        padding: 2vw 7.5vw;
        margin-top: 6vw;
      }
    }
  }
  .Top {
    margin-top: 14vw;
    padding: 0 1vw;
  }
  .Location {
    p {
      font-size: 10.5vw;
    }
  }
  .temp {
    margin: 11vw 0vw 0vw 0vw;
    h1 {
      font-size: 30vw;
      sup {
        font-size: 11vw;
        padding-left: 2.5vw;
      }
    }
  }
  .img {
    margin-top: 0vw;
    img {
      width: 40vw;
    }
  }
  .description {
    p {
      font-size: 7vw;
    }
  }
  .temp_max,
  .temp_min {
    display: none;
  }
  .Bottom {
    margin-top: 13vw;
    width: 95vw;
    height: 21vw;
    border-radius: 8vw;
    div {
      p:nth-of-type(1) {
        padding-bottom: 2.7vw;
      }
    }
  }
  p {
    font-size: 4vw;
  }
}
