@media screen and (min-width: 320px) {
  .App {
    overflow: hidden;
  }
  .search {
    form {
      margin-top: 35px;
      width: 180px;
      input {
        padding: 8px 15px;
        border-radius: 90px;
      }
      button {
        border-radius: 90px;
        padding: 5px 20px;
        margin-top: 25px;
      }
    }
  }
  .Container {
    height: 80vh;
  }
  .Top {
    height: 72%;
    margin-top: 30px;
    padding: 0 15px;
  }
  .Location {
    p {
      font-size: 30px;
    }
  }
  .temp {
    margin: 40px 0vw 0vw 0vw;
    h1 {
      font-size: 100px;
      sup {
        font-size: 37px;
        padding-left: 2%;
      }
    }
  }
  .img {
    margin-top: 5px;
    img {
      width: 120px;
    }
  }
  .description {
    margin-top: 15px;
    p {
      font-size: 20px;
    }
  }
  .temp_max,
  .temp_min {
    display: none;
  }
  .Bottom {
    margin-top: 5px;
    width: 93%;
    height: 68px;
    border-radius: 90px;
    div {
      p:nth-of-type(1) {
        padding-bottom: 15px;
      }
    }
  }
  p {
    font-size: 12px;
  }
  .wind_pressure {
    display: none;
  }
}
