@media screen and (min-width: 768px) {
  .search {
    form {
      margin-top: 30px;
      width: 300px;
      input {
        padding: 16px 40px;
        font-size: 17px;
      }
      button {
        padding: 9px 36px;
        font-size: 17px;
      }
    }
  }
  .Container {
    height: 81vh;
  }
  .Top {
    height: 72%;
    margin-top: 50px;
    padding: 0 15px;
  }
  .Location {
    p {
      font-size: 42px;
    }
  }
  .temp {
    margin: 45px 0vw 0vw 0vw;
    h1 {
      font-size: 140px;
      sup {
        font-size: 43px;
        padding-left: 3%;
        letter-spacing: 3px;
      }
    }
  }
  .img {
    margin-top: 0px;
    img {
      width: 215px;
    }
  }
  .description {
    margin-top: 10px;
    p {
      font-size: 26px;
    }
  }
  .Bottom {
    margin-top: 55px;
    width: 710px;
    height: 110px;
    div {
      p:nth-of-type(1) {
        padding-bottom: 20px;
      }
    }
  }
  p {
    font-size: 21px;
  }
  .wind_pressure {
    display: block;
  }
}
